body{
    background-image: url("3.jpg");
    /*background-color:lightblue;*/
    background-size:100%;
    
}    
.D{
    color:black;
    border-bottom:5px solid black;
    border-width : inline ; 
}
a{
    color:black;
    font-size: 20px;
}
a:hover{
    color:red;
    text-decoration:none;
}
.F2{
    background-color:antiquewhite;
}
.form1{
    padding:5px;
}
.field{
    padding:6px;
    border:none;
}
.fa{
    color:white;
    padding:15px;
    border-radius:10px;
}
