.f1{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: antiquewhite;

}
body{
    background-image: url("images/3.jpg");
    background-size: 100%;
}
.a1:hover , .a2:hover{
    color:red;
    text-decoration:none;
}
.a2, .a1{
    color: yellow;
}
.fa{
    color:white;
    font-size: 20px;
}
/*.f{
    border-radius:2px;
}*/